@model TheMatrixAPI.Models.DTO.Character.CharactersGroups

@{
    ViewData["Title"] = "Characters";
}
<h1>Characters</h1>
<div class="characters-container">
    <div class="group-item">
        <div class="text-center">Good</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var characters in Model.Good.ToList())
                {
                    <tr>
                        <td>@characters.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Details" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-book"></i></a>
                            <a asp-action="Delete" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-x-circle"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="group-item">
        <div class="text-center">Neutral</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var characters in Model.Neutral.ToList())
                {
                    <tr>
                        <td>@characters.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Details" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-book"></i></a>
                            <a asp-action="Delete" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-x-circle"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="group-item">
        <div class="text-center">Bad</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var characters in Model.Bad.ToList())
                {
                    <tr>
                        <td>@characters.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Details" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-book"></i></a>
                            <a asp-action="Delete" asp-route-id="@characters.Id" class="btn btn-primary"><i class="bi bi-x-circle"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .characters-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .group-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
        border-radius: 5px;
        background: #fffffb;
        position: relative;
        box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
        margin: 8px;
    }
</style>
